:root{
    --brown: #BD9464;
    --dark-blue: #17242A;
    --white: #fff;
    --dark-green: #479457;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho{
    width: 100%;
}

.titleHeader{
    font-size: 30px;
    text-transform: uppercase;
}

.titleHeader h1{
    color: var(--brown);
}